.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(270deg, #ccc,  #ffeeee);
  
 
 
}

.title {
  color: #000000;
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: bold;
}

.forminput {
  width: 100%;
  max-width: 400px;
  margin-bottom: 15px;
  
}



button {
  padding: 10px 15px;
  background-color: #0ca5e2;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  width: 100px;
  cursor: pointer;
}

button:hover {
  background-color: #032a2e;
}


