.image {
    border-radius: 5px; /* Example of styling */
    box-shadow: 0 0px 6px transparent;
    background-color: transparent;
    width: 30px;
    height: 30px;
}

.customStyle {
    border: 2px solid #000; /* Example of additional custom styling */
}

