.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    height: auto; 
    margin: 20px auto;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 8px;
    background-color: #A1E6D8;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}

.header h2 {
    font-size: 1.5rem;
    color: #000;
}

.nextButton, .prevButton{
    background: none; 
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: inherit;  
}



.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 19px;
    width: 100%;
}

.weekday {
    font-weight: bold;
    text-align: center;
    color: #080808;
}


.dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 11px;
    width: 100%;
    cursor: pointer;
}


.calendarDay {
    text-align: center;
    padding: 15px 0;
   
    color: #000000;
   
    position: relative;
    cursor: pointer;
    
}
.Dot {
    position: absolute;
    bottom: 5px; /* Justera så att den passar under datumet */
    left: 50%;
    transform: translateX(-50%);
    width: 8px; /* Justera storlek */
    height: 8px; /* Justera storlek */
    background-color: red; /* Röd färg */
    border-radius: 50%; /* Gör den rund */
}

.currentDate {
    background-color: #093963;
    color: rgb(241, 229, 229);
   border-radius: 50px;
  
    cursor: pointer;
}


.calendarDay:hover {
    background-color: #09396366;
    border-radius: 15px; 
}
